html{
  box-sizing: border-box;
  font-size: 62.5%; /*Reset para Rems -62.5% = 10px de 16px*/
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{/*Para fuentes gratis usar Google Fonts*/
  font-family:  'Lato', sans-serif;
  font-size: 1.6rem;
}
/*Globales*/
img{
  max-width: 100%;
}
.contenedor{
  max-width: 120rem;/* = 1200px*/
  margin: 0 auto;
}
h1{
  font-size: 3.6rem;
}
h2{
  font-size: 2.4rem;
}
h3{
  font-size: 3rem;
}
h4{
  font-size: 3rem;
}
/*utilidades*/
.seccion{
  margin-top: 2rem; /*Darle espacio de */
  margin-bottom: 2rem;
}
.fuenteW{
  font-weight: 300;/*tipo de fuente para cualquiera que lo utilice en su class=""*/
}
.centrar-texto{/*Centrar el texto funcion*/
  text-align: center;
}
.d-block{
  display: block!important;
}

.contenido-centrado{
  max-width: 800px;/*En este caso el tamaño del texto en la pg anuncio.html para que no
                    me muestre tan grande el parrafo y me ocupe toda la pantalla y 
                    demas utilidades de la pagina web como el blog*/
}

/*Botones*/
.boton{
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  font-size: 1.8rem;
  padding: 1rem 3rem;
  margin-top: 3rem;
  display: inline-block;
  text-align: center;
  border: none;
  display: block;
  flex: 0 0 100%;/*En este caso cuando el boton ese reducido tome el 100% del tamañap
                  que haya disponible*/
}
@media (min-width: 768px) {
  .boton{
    display: inline-block;/*Para que tome bien los margin y los pading*/
    flex: 0 0 auto;
  }
}
.boton:hover{
  cursor: pointer;/*Para cuando el curso se localice encima de una link cambie su estilo a una mano*/ 
}
.boton-naranja{
  background-color: #E08709;
}
.boton-verde{
  align-items: right;
  background-color: #71B100;
}

/* header*/
.site-header{/*Esta es para Pagina De Nosotros*/
  background-color: #333333;
  padding: 1rem 0 3rem 0;

}

.site-header.inicio{
  background: url(../img/header.jpg);/*Imagen de fondo inicio pagina*/
  background-position: center center;
  background-size: cover;
  height: 100vh;
  min-width: 60rem;/* = 600px*/
}
.contenido{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
@media (min-width: 768px) {
  .contenido{
    text-align: left;
  }
}
.contenido h1 {
  color: #ffffff;
  padding-bottom: 2rem;
  max-width: 60rem; /*corta la cadena Venta de Casas y Departamentos Exclusivos de Lujo*/
  line-height: 1.8;
}
.barra{
  padding-top: 3rem;/* = 30pxNos ayuda a dejar un espacio en la parte inferior de la pagina*/
}
@media (min-width: 768px) {
  .barra{
    display: flex;
    justify-content: space-around;
    align-items: center; /*Me alinea los enlaces a la par del nombre de BienesRaices*/
  }
}
/*Navegacion*/
.navegacion a {
  color: #ffffff;/*Color Blanco*/
  text-decoration: none;/*Quitar la decoracion de la linea de los enlaces del encabezado*/
  font-size: 2.2rem;
  display: block;/*En este caso cuando estemos en un dispositivo movil van a bajar en pila los 
                  enlaces*/
}
@media (min-width: 768px) {/*En este caso es para que vuelva a su posicion en la que estaba
                            cuando esta la pantalla grande*/
  .navegacion a{
    display: inline-block;
    font-size: 1.8rem;/* = 18px*/
    margin-right: 2rem;/* = 20px Separar los enlaces de encabezado*/
  }
  .navegacion a:last-of-type{
    margin: 0;
  }
}
.navegacion a:hover{/*Que se vea los enlaces de colores*/
  color: #27D8D0;
}
/*Iconos nosotros*/
@media (min-width: 768px) {
  .icono-nosotros{/*Acomoda los iconos de mas sobre nosotros*/
    display: flex;
    justify-content: space-between;
  }
}

.icono{
  text-align: center;/*Alinear en el centro la seccion seguridad, el mejor precio, a Tiempo*/
}
@media (min-width: 768px) {
  .icono{
    flex-basis: calc(33.3% - 1rem);
  }
}
.icono h3{
  text-transform: uppercase;/*poner en mayuscalas en la secccion icono el titulo*/
}
.icono p{
  line-height: 2rem;
}
.icono-img{
  list-style: none;
  padding: 0;/*lleva todos los icono a margen con la letra*/
  display: flex;
  justify-content: space-evenly;
  max-width: 500px;/*Comprimir para el caso de anuncio.html para que ocupe todo el espacios
                    disponible*/
  flex: 1;/*Para solucionar en pg anuncio.hmtl, sirve para que los iconos crescan porqu
            se comprimen, o se muestran asi entonces es una solucion*/
}
.icono-img li{
  /*flex: 1;*/
  display: flex;
}
.icono-img li img{
  margin-right: 2rem;/*separacion entre la imagen y el numero*/
}

/*Anuncios*/
@media (min-width: 768px) {
  .contenedor-anuncios{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;/*Esta Propiedad hace que no me muestre los anuncios seguidos
                      sino que haga que me los separe, comentar esta linea para ver
                      el cambio*/
  }
}
.anuncio{
  border: 0.1rem solid #B5B5B5;
  background-color: #F5F5F5;
  margin-bottom: 2rem;/*Separacion entre los anuncios arriba y abajo*/
}
@media (min-width: 768px) {
  .anuncio{
    /*flex-grow: 0;Aumentar el tamaño de las cajas de anucios
    flex-shrink: 0;Esto sirve para que nos se encojan los anuncios
                    porque cada vez que ingrese un nuevo anucncio se va 
                    a ir agregando como una lista y se van a encoger todos*/
    flex-basis: calc(33.3% - 1rem);
  }
}
.contenido-anuncio{/*separa el espacio de los bordes*/
  padding: 2rem;
}
.contenido-anuncio h3,
contenido-anuncio p{
  margin: 0;
}
.precio{
  color: #71B100;/*Poner un color diferente al precio*/
}
.ver-todas{
  display: flex;
  justify-content: flex-end;

}
/*contactanos*/
.site-contacto{
  background: url(../img/encuentra.jpg);
  background-position: center center;
  background-size: cover;
  height: 40rem;
  display: flex;
  align-items: center;
  margin-top: 2rem;
}
.contenido-contacto{
  flex: 0 0 95%;/*En este caso no toma todo el espacio disponible para tablet o movil*/
  color:#ffffff;
}
.contenido-contacto p{
  font-size: 1.8rem;
}

/*Seccion del blog*/
@media (min-width: 768px) {
  .seccion-blog{

    display: flex;
    justify-content: space-between;
  }
  .seccion-blog .blog{
    flex-basis: 60%;
  }
  .seccion-blog .testimoniales{
    flex-basis: calc(40% - 2rem);
  }
}

/*Seccion imagen del blog*/
.entrada-blog{
 /*Separacion con el siguiente elemento*/
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  .entrada-blog{
    display: flex;
    justify-content: space-between;
  }
}
.entrada-blog:last-of-type{/*Eliminar franja inferior naranja*/
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .entrada-blog .imagen{/*Le damos un tamaño de 40% para reducir la imagen*/
    flex-basis: 40%;
  }
  .entrada-blog .texto-entrada{/*Aqui separamos la letra un poco de la imagen*/
    flex-basis: calc(60% - 3rem);
  }
}

.texto-entrada a{
  color: #000000;
  text-decoration: none;
}
.texto-entrada h4{
  margin: 0;
  line-height: 1.4;
}
.texto-entrada h4::after{/*Pseudo elementos despues despues de buscar hacer la raya verde
                          y no se pueden seleccionar desde la pagina*/
  content: "";
  display: block;
  width: 20rem;
  height: .5rem;
  background-color: #27FF00;
  margin-top: 1rem;
}
.texto-entrada span{/*Cambiar color en partes del codigo con etiqueta span*/
  color: #FE6400;
}
/*Testimoniales*/ /**/
.testimonial{
  background-color: #27FF00;/*En este espacio le ponemos el color a la seccion Testimoniales*/
  font-size: 2.4rem;
  padding: 2rem;/*le ponemos un espacio dentro del cuadro verde*/
  color: #ffffff;/*Color de la letra*/
  border-radius: 2rem;/*poner un estilo a la franja de testimoniales redondo en las esquinas*/
}

.testimonial p{/*Con esto llamamos una parte de nuestro codigo en un lugar especifico*/
  text-align: right;/*Alinear hacia la derecha el autor del testimonial*/
}

.testimonial blockquote::before{/*Poner algo antes de cieto elemento*/
  content: '';
  background-image: url(../img/comilla.svg);
  height: 4rem;/*Le damos una altura a las comillas*/
  width: 4rem;/*le damos un ancho a las comillas*/
  display: block;/*Si no hay un display block no se puede monstrar la imagen*/
  position: absolute;/*Posicional un elemento en un lugar en especifico*/
  left: -2rem;
}

.testimonial blockquote{
  position: relative;
  padding-left: 5rem;/*Posicional todo el elemento del texto hacia la izquierda*/
  font-weight: 300;/*Cambiar el tamaño de la letra para que sea un poco mas delgada*/
}

/*Seccion final-footer*/
.final-pg{
  background-color: #333333;
  margin: 0;

}
.contenedor-final{
  padding: 3rem 0;
  text-align: center;
}
@media (min-width: 768px) {
  .contenedor-final{
    display: flex;
    justify-content: space-between;
  }
}
.copyright{
  margin: 0;
  color: #ffffff;
}
.final-pg nav{
  display: none;
}
@media (min-width: 768px) {
  .final-pg nav{
    display: block;/*Para mostrar de nuevo los enlaces en el footer*/
  }
}

/*INTERNAS*/

/*Nosotros*/
@media (min-width: 768px) {
  .contenido-nosotros{
    display: grid; /*En esta parte se define por el numero de columnas o div
                    que hallan en la clase padre*/
    grid-template-columns: repeat(2, 1fr);/*se reparten entre dos columnas de 50%*/
    grid-column-gap: 2rem;/*Separacion entre las dos columnas*/
  }
}


.contenido-nosotros blockquote{
  font-weight: 900;
  font-size: 2rem;
  margin: 0;/*En este caso para que no tenga margen y se ajuste al texto
            comentar esta linea para ver lo que pasa*/
  padding: 1rem 0 3rem 0;/*Espacio del texto en la columna*/
}

/*Anuncio*/
.resumen-propiedad{
  display: flex;
  justify-content: space-between;
  align-items: center;/*Alinear verticalmente*/
}

/*Contacto*/
.contacto p{
  font-size: 1.4rem;
  color: #4f4f4f;
  margin: 2rem 0 0 0;/*Agrupar en la parte del contacto*/
}
legend{
  font-size: 2rem;/*Tamano de la letra en general*/
  color: #4f4f4f;/*Color de legend un poco mas claro de lo que estaba*/
}
label{
  font-weight: 700;/*El grueso de las lineas*/
  text-transform: uppercase;/*Manejo de mayusculas*/
  display: block; /*Para que tomen todo el espacio disponible*/
}

input:not([type="submit"]), /*En este caso no queria que se afectara el submit*/
textarea,
select
{
  padding: 1rem;
  display: block;
  width: 100%;
  background-color: #e1e1e1;
  margin-bottom: 2rem;
  border: none;
  border-radius: 1rem;
}

input[type="radio"]{
  width: auto;/*Esto significa que tome el ancho que requiera
                para los botones circulares*/
  margin: 0;
}

textarea{
   height: 20rem;
}

.forma-contacto{
  max-width:30rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}