html{
  box-sizing: border-box;
  font-size: 62.5%; /*Reset para Rems -62.5% = 10px de 16px*/
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{/*Para fuentes gratis usar Google Fonts*/
  font-family:  'Lato', sans-serif;
  font-size: 1.6rem;
}
/*Globales*/
img{
  max-width: 100%;
}
.contenedor{
  max-width: 120rem;/* = 1200px*/
  margin: 0 auto;
}
h1{
  font-size: 3.6rem;
}
h2{
  font-size: 2.4rem;
}
h3{
  font-size: 3rem;
}
h4{
  font-size: 3rem;
}
/*utilidades*/
.seccion{
  margin-top: 2rem; /*Darle espacio de */
  margin-bottom: 2rem;
}
.fuenteW{
  font-weight: 300;/*tipo de fuente para cualquiera que lo utilice en su class=""*/
}
.centrar-texto{/*Centrar el texto funcion*/
  text-align: center;
}
.d-block{
  display: block!important;
}

/*Botones*/
.boton{
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  font-size: 1.8rem;
  padding: 1rem 3rem;
  margin-top: 3rem;
  display: inline-block;
  text-align: center;
}
.boton-naranja{
  background-color: #E08709;
}
.boton-verde{
  align-items: right;
  background-color: #71B100;
}

/* header*/
.site-header.inicio{
  background: url(../img/header.jpg);/*Imagen de fondo inicio pagina*/
  background-position: center center;
  background-size: cover;
  height: 100vh;
  min-width: 60rem;/* = 600px*/
}
.contenido{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contenido h1 {
  color: #ffffff;
  padding-bottom: 2rem;
  max-width: 60rem; /*corta la cadena Venta de Casas y Departamentos Exclusivos de Lujo*/
  line-height: 1.8;
}
.barra{
  display: flex;
  justify-content: space-around;
  padding-top: 3rem;/* = 30pxNos ayuda a dejar un espacio en la parte inferior de la pagina*/
  align-items: center; /*Me alinea los enlaces a la par del nombre de BienesRaices*/
}

/*Navegacion*/
.navegacion a {
  color: #ffffff;/*Color Blanco*/
  text-decoration: none;/*Quitar la decoracion de la linea de los enlaces del encabezado*/
  font-size: 1.8rem;/* = 18px*/
  margin-right: 2rem;/* = 20px Separar los enlaces de encabezado*/
}
.navegacion a:hover{/*Que se vea los enlaces de colores*/
  color: #27D8D0;
}
/*Iconos nosotros*/
.icono-nosotros{/*Acomoda los iconos de mas sobre nosotros*/
  display: flex;
  justify-content: space-between;
}
.icono{
  flex-basis: calc(33.3% - 1rem);
  text-align: center;/*Alinear en el centro la seccion seguridad, el mejor precio, a Tiempo*/
}
.icono h3{
  text-transform: uppercase;/*poner en mayuscalas en la secccion icono el titulo*/
}
.icono p{
  line-height: 2rem;
}
.icono-img{
  list-style: none;
  padding: 0;/*lleva todos los icono a margen con la letra*/
  display: flex;
  justify-content: space-evenly;
}
.icono-img li{
  /*flex: 1;*/
  display: flex;
}
.icono-img li img{
  margin-right: 2rem;/*separacion entre la imagen y el numero*/
}

/*Anuncios*/
.contenedor-anuncios{
  display: flex;
  justify-content: space-between;
}
.anuncio{
  flex-basis: calc(33.3% - 1rem);
  border: 0.1rem solid #B5B5B5;
  background-color: #F5F5F5;
}
.contenido-anuncio{/*separa el espacio de los bordes*/
  padding: 2rem;
}
.contenido-anuncio h3,
contenido-anuncio p{
  margin: 0;
}
.precio{
  color: #71B100;/*Poner un color diferente al precio*/
}
.ver-todas{
  display: flex;
  justify-content: flex-end;
}
/*contactanos*/
.site-contacto{
  background: url(../img/encuentra.jpg);
  background-position: center center;
  background-size: cover;
  height: 40rem;
  display: flex;
  align-items: center;
}
.contenido-contacto{
  flex: 1;
  color:#ffffff;
}
.contenido-contacto p{
  font-size: 1.8rem;
}

/*Seccion del blog*/
.seccion-blog{

  display: flex;
  justify-content: space-between;
}
.seccion-blog .blog{
  flex-basis: 60%;
}
.seccion-blog .testimoniales{
  flex-basis: calc(40% - 2rem);
}
/*Seccion imagen del blog*/
.entrada-blog{
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem; /*Separacion con el siguiente elemento*/
}
.entrada-blog:last-of-type{/*Eliminar franja inferior naranja*/
  margin-bottom: 0;
}

.entrada-blog .imagen{/*Le damos un tamaño de 40% para reducir la imagen*/
  flex-basis: 40%;
}
.entrada-blog .texto-entrada{/*Aqui separamos la letra un poco de la imagen*/
  flex-basis: calc(60% - 3rem);
}
.texto-entrada a{
  color: #000000;
  text-decoration: none;
}
.texto-entrada h4{
  margin: 0;
  line-height: 1.4;
}
.texto-entrada h4::after{/*Pseudo elementos buscar hacer la raya verde*/
  content: "";
  display: block;
  width: 20rem;
  height: .5rem;
  background-color: #27FF00;
  margin-top: 1rem;
}
.texto-entrada span{/*Cambiar color en partes del codigo con etiqueta span*/
  color: #FE6400;
}
.testimoniales h3{
  color: #B9162B;
}
